<div class="sidebar">
  <ul class="nav nav-pills flex-column mb-4">

    <li class="nav-item">
      <a href="{% url 'dashboard' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-bar-chart-line-fill me-2"></i> Painel
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'sale_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-cart2 me-2"></i> Vendas
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'product_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-box-seam me-2"></i> Produtos
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'category_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-tag"></i> Categorias
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'inflow_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-box-arrow-up me-2"></i> Entradas
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'outflow_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-box-arrow-down me-2"></i> Saídas
      </a>
    </li>


    <li class="nav-item">
      <a href="{% url 'orders_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-chat-left-dots me-2"></i> Pedidos Online
          {% if active_orders %}
            <span class="badge text-bg-warning rounded-circle">{{active_orders}}</span>
          {% endif %}
      </a>
    </li>

  </ul>

  {% if user.is_authenticated %}
  <div class="dropdown">
    <button 
    class="btn btn-{{request.session.theme}} dropdown-toggle" 
    type="button" 
    data-bs-toggle="dropdown" 
    aria-expanded="false">
    {{request.user}}
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="{% url 'logout' %}" class="dropdown-item">
          <i class="bi bi-box-arrow-right"></i> Sair
        </a>
      </li>
      <li>
        <a href="{% url 'toggle_theme' %}" class="dropdown-item">
          <i class="bi bi-toggle-{{ request.session.toggle }}"></i> Inverter Tema
        </a>
      </li>
      <li>
        <a href="{% url 'webstore_home' %}" class="dropdown-item">
          <i class="bi bi-cursor-fill"></i> Loja Virtual
        </a>
      </li>
      {% if request.user.is_superuser %}
      <li>
        <a href="{% url 'admin:index' %}" class="dropdown-item" target="_blank">
          <i class="bi bi-speedometer2"></i> Painel Admin
        </a>
      </li>
      {% endif%}
    </ul>
    
  </div>
  <div class="d-flex flex-column align-items-start">

  </div>
  {% endif %}
</div>
