<div class="sidebar">
  <ul class="nav nav-pills flex-column mb-4">

    {% if perms.brands.delete_brand %}
    <li class="nav-item">
      <a href="{% url 'dashboard' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-bar-chart-line-fill me-2"></i> Painel
      </a>
    </li>
    {% endif %}

    <li class="nav-item">
      <a href="{% url 'sale_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-cart2 me-2"></i> Vendas
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'brand_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-patch-check me-2"></i> Marcas
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'category_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-bookmarks me-2"></i> Categorias
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'product_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-box-seam me-2"></i> Produtos
      </a>
    </li>

    {% if perms.inflows.add_inflow %}
    <li class="nav-item">
      <a href="{% url 'inflow_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-box-arrow-up me-2"></i> Entradas
      </a>
    </li>
    {% endif %}

    {% if perms.outflows.add_outflow %}
    <li class="nav-item">
      <a href="{% url 'outflow_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-box-arrow-down me-2"></i> Saídas
      </a>
    </li>
    {% endif %}

    <li class="nav-item">
      <a href="{% url 'product_return_list' %}" class="nav-link link-body-emphasis">
        <i class="bi bi-bag-x me-2"></i> Devoluções
      </a>
    </li>

  </ul>

  {% if user.is_authenticated %}
  <div class="dropdown">
    <button 
    class="btn btn-{{request.session.theme}} dropdown-toggle" 
    type="button" 
    data-bs-toggle="dropdown" 
    aria-expanded="false">
    {{request.user}}
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="{% url 'logout' %}" class="dropdown-item">
          <i class="bi bi-box-arrow-right"></i> Sair
        </a>
      </li>
      <li>
        <a href="{% url 'toggle_theme' %}" class="dropdown-item">
          <i class="bi bi-toggle-{{ request.session.toggle }}"></i> Inverter Tema
        </a>
      </li>
    </ul>
  </div>
  <div class="d-flex flex-column align-items-start">

  </div>
  {% endif %}
</div>
