[flake8]
extend-ignore = E203
exclude =
    .gitignore,
    __pycache__,
    venv,
    app,
    db.slite3,
    manage.py,
    requirements.txt,
    migrations,
max-line-length = 100
max-complexity = 10