{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
<div class="pt-3 pb-4 mb-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="fw-bold text-gradient m-0">
            Detalhes do Produto
        </h2>
        <a href="{% url 'product_list' %}" class="btn btn-outline-secondary shadow-sm">
            <i class="bi bi-arrow-left me-1"></i> Voltar para Lista
        </a>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12 text-end">
        {% include 'components/_messages.html' %}
    </div>
</div>

<div class="card shadow-sm rounded-4 border-0">
    <div class="card-header bg-dark text-white text-center py-3">
        <h4 class="mb-0">{{ product.name }}</h4>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>Descrição:</strong>
                <span>{{ product.description }}</span>
            </li>
            {% if has_perm %}
                {% if has_perm == 'delete_product' %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Preço de Custo:</strong>
                        <span>{{ product.cost_price }}</span>
                    </li>    
                {% endif %}
            {% endif %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>Preço de Venda:</strong>
                <span>{{ product.selling_price }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>Quantidade:</strong>
                <span>{{ product.quantity }}</span>
            </li>
            {% if has_perm %}
                {% if has_perm == 'delete_product' %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Criação do Registro:</strong>
                        <span>{{ product.created_at|date:"d/m/Y H:i" }}</span>
                    </li>
                {% endif %}
            {% endif %}
            {% if has_perm %}
                {% if has_perm == 'delete_product' %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Atualização do Registro:</strong>
                        <span>{{ product.updated_at|date:"d/m/Y H:i" }}</span>
                    </li>
                {% endif %}
            {% endif %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>Código de Barras:</strong>
                <span>{{ product.barcode }}</span>
            </li>
        </ul>
        
        {% if product.product_image %}
        <div class="mt-4 text-center">
            <img src="{{ product.product_image.url }}" alt="Imagem do Produto" class="img-fluid rounded" style="max-height: 300px;">
        </div>
        {% endif %}
    </div>
</div>
{% if has_perm %}
    {% if has_perm == 'delete_product' %}
        <div class="mt-4 d-flex justify-content-between">
            <div>
                <a href="{% url 'product_update' product.pk %}" class="btn btn-primary me-2">
                    <i class="bi bi-pencil me-1"></i> Editar
                </a>
                <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger">
                    <i class="bi bi-trash me-1"></i> Excluir
                </a>
            </div>
        </div>
    {% endif %}
{% endif %}

{% endblock %}