{% extends "base.html" %}
{% block title %}Produtos{% endblock %}
{% block content %}
<div class="container mt-5"> <!-- Keep this div -->
    <div class="card shadow-lg"> <!-- Keep this div -->
        <div class="card-header text-center bg-dark text-white"> <!-- Keep this div, change only the content inside -->
            <h3 class="mb-0">{{ product.name }}</h3>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Marca:</strong> {{ product.brand }}</li>
                <li class="list-group-item"><strong>Categoria:</strong> {{ product.category }}</li>
                <li class="list-group-item"><strong>Descrição:</strong> {{ product.description }}</li>
                <li class="list-group-item"><strong>Preço de Custo:</strong> {{ product.cost_price }}</li>
                <li class="list-group-item"><strong>Preço de Venda:</strong> {{ product.selling_price }}</li>
                <li class="list-group-item"><strong>Quantidade:</strong> {{ product.quantity }}</li>
                <li class="list-group-item"><strong>Criação do Registro:</strong> {{ product.created_at }}</li>
                <li class="list-group-item"><strong>Atualização do Registro:</strong> {{ product.updated_at }}</li>
                <li class="list-group-item"><strong>Código de Barras:</strong> {{ product.barcode }}</li>
            </ul>
        </div>
    </div>
</div>
<br>
<a href="{% url 'product_list' %}">
    <button type="button" class="btn btn-secondary btn-lg w-100">Retornar</button>
</a>
{% endblock %}
