{% extends "base.html" %}
{% block title %}Produtos{% endblock %}
{% block content %}
<br>
    <div class="row">

        {% include 'components/_messages.html' %}
    
        <div class="col-md-6">
            <form method="get">
                <div class="input-group mb-3">
                    <input type="text" name="search" class="form-control" placeholder="Buscar">
                    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            {% if sale_id %}
            <a href="{% url 'start_sale' %}">
                <button type="button" class="btn btn-warning"><i class="bi bi-cart-fill"></i> Ir para Carrinho</button>
            </a>
            {% endif %}
        </div>
        <div class="col-md-3 d-flex justify-content-end">
            {% if perms.products.create_product %}
            <a href="{% url 'product_create' %}">
                <button type="button" class="btn btn-success"><i class="bi bi-plus-circle"></i> Novo(a)</button>
            </a>
            {% endif %}
        </div>
    </div><br>

    <table class="table table-dark table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    Adicionar à Venda
                </th>
                <th>
                    ID
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Marca
                </th>
                {% if perms.products.add_product %}
                <th>
                    Preço de Custo
                </th>
                {% endif %}
                <th>
                    Preço de Venda
                </th>
                <th>
                    Estoque
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            {% for product in page_obj %}
            <tr>
                <td>
                    <form method="post" class="d-flex" action="{% url 'product_item_add_to_sale' product.pk %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <button type="submit" class="btn btn-info">
                                <i class="bi bi-bag-plus-fill"></i>
                            </button>
                            <input type="number" name="quantity" class="form-control" value="1" placeholder="Quantidade" min="1" required>
                        </div>
                    </form>                    
                </td>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.brand }}</td>
                {% if perms.products.add_product %}
                <td>R$ {{ product.cost_price }}</td>
                {% endif %}
                <td>R$ {{ product.selling_price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <div class="dropdown">
                        <button 
                            class="btn btn-light dropdown-toggle" 
                            type="button" 
                            id="dropdownMenuButton{{ product.id }}" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false">
                            Opções
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ product.id }}">
                            {% if perms.inflows.add_inflow %}
                            <li>
                                <a class="dropdown-item" href="{% url 'inflow_create' product.pk %}">
                                    <i class="bi bi-box-arrow-up me-2"></i>Registrar Entrada
                                </a>
                            </li>
                            {% endif %}
                            {% if perms.outflows.add_outflow %}
                            <li>
                                <a class="dropdown-item" href="{% url 'outflow_create' product.pk %}">
                                    <i class="bi bi-box-arrow-down me-2"></i>Registrar Saída
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item" href="{% url 'product_detail' product.pk %}">
                                    <i class="bi bi-eye-fill me-2"></i>Ver Detalhes
                                </a>
                            </li>
                            {% if perms.products.change_product %}
                            <li>
                                <a class="dropdown-item" href="{% url 'product_update' product.pk %}">
                                    <i class="bi bi-pencil-square me-2"></i>Editar Produto
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item" href="{% url 'product_return' product.pk %}">
                                    <i class="bi bi-bag-x me-2"></i>Devolução
                                </a>
                            </li>
                            {% if perms.products.delete_product %}
                            <li>
                                <a class="dropdown-item text-danger" href="{% url 'product_delete' product.pk %}">
                                    <i class="bi bi-trash-fill me-2"></i>Excluir Produto
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}        
        </tbody>
    </table>

    {% include 'components/_pagination.html' %}

{% endblock %}