{% extends "base.html" %}
{% block title %}Categorias{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header text-center bg-dark text-white">
            <h3>Atualizar Categoria</h3>
        </div>
        <div class="card-body">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-warning">
                            {{error}}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}

                <div class="mb-4">
                    <label for="name" class="form-label">Nome da Categoria</label>
                    {{ form.name }}
                </div>

                <div class="mb-4">
                    <label for="description" class="form-label">Descrição</label>
                    {{ form.description }}
                </div>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-warning">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div class="d-flex flex-column gap-3 mt-4">
                    <button type="submit" class="btn btn-primary btn-lg w-100">Salvar</button>
                    <a href="{% url 'category_list' %}"><button type="button" class="btn btn-secondary btn-lg w-100">Retornar</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
