<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
  <a href="{% url 'webstore_home' %}" class="btn btn-outline-dark align-items-center gap-2 px-4 py-2 rounded-pill shadow-sm">
    <i class="bi bi-house-door-fill"></i> Início
  </a>
  <br><br>
  <form method="post" action="{% url 'webstore_home' %}">
    {% csrf_token %}
    <div class="input-group mb-5 shadow-sm rounded-pill overflow-hidden">
        <input type="text" name="search" autofocus="" class="form-control border-0 ps-4" placeholder="Buscar..." aria-label="Search" aria-describedby="search-button">
        <button class="btn btn-dark px-4 rounded-0" type="submit" id="search-button">
          <i class="bi bi-search"></i>
        </button>
    </div>
  </form>
  
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <a href="{% url 'webstore_cart' %}" class="btn btn-white">
        <i class="bi bi-cart-fill"></i> Carrinho <span class="badge text-bg-success">{{cart_quantity}}</span>
      </a>      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
        <i class="bi bi-tags-fill"></i> Categorias
      </button>
      <div class="collapse" id="home-collapse">
        <ul class="list-unstyled px-3 py-2">
          {% for category in categories %}
            <li class="mb-2">
              <form method="post" class="d-inline">
                {% csrf_token %}
                <button 
                  type="submit" 
                  name="category" 
                  value="{{ category.pk }}" 
                  class="btn btn-outline-black btn-sm w-100 text-start rounded-pill shadow-sm"
                >
                  {{ category.category }}
                </button>
              </form>
            </li>
          {% endfor %}
        </ul>
      </div>
      
    </li>
    <li class="border-top my-3"></li>
  </ul>
</div>
