{% extends "base.html" %}
{% block title %}Marcas{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header text-center bg-dark text-white">
            <h3>{{ brand.name }}</h3>
        </div>
        <div class="card-body">
            {{ brand.description }}
        </div>
    </div>
</div>
<br>
<a href="{% url 'brand_list' %}"><button type="button" class="btn btn-secondary btn-lg w-100">Retornar</button></a>
{% endblock %}
