{% extends "base.html" %}
{% block title %}Detalhes da Entrada{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4">Detalhes da Entrada #{{inflow.id}}</h1>

    <div class="card mb-4 shadow-lg">
        <div class="card-header bg-dark text-white text-center">
            <h3>Data da Entrada: {{ inflow.created_at|date:"d/m/Y H:i" }}</h3>
        </div>
        <div class="card-body">
            <p><strong>Produto:</strong> {{ inflow.product.name }}</p>
            <p><strong>Marca:</strong> {{ inflow.product.brand }}</p>
            <p><strong>Quantidade:</strong> {{ inflow.quantity }}</p>
        </div>
    </div>

    <a href="{% url 'inflow_list' %}" class="btn btn-outline-secondary btn-lg w-100">
        Retornar à Lista de Entradas
    </a>
</div>
{% endblock %}
