{% extends "base.html" %}

{% block title %}Detalhes da Entrada{% endblock %}

{% block content %}
<div class="pt-3 pb-4 mb-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="fw-bold text-gradient m-0">Entrada #{{ inflow.id }}</h2>
        <a href="{% url 'inflow_list' %}" class="btn btn-outline-secondary shadow-sm">
            <i class="bi bi-arrow-left-circle me-1"></i> Voltar para Lista
        </a>
    </div>
</div>

<div class="card shadow-sm rounded-4 border-0">
    <div class="card-header bg-success text-white text-center rounded-top-4">
        <h4 class="mb-0">Data de Registro: {{ inflow.created_at|date:"d/m/Y H:i" }}</h4>
    </div>
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-sm-3">Produto</dt>
            <dd class="col-sm-9">{{ inflow.product.name }}</dd>

            <dt class="col-sm-3">Marca</dt>
            <dd class="col-sm-9">{{ inflow.product.category }}</dd>

            <dt class="col-sm-3">Quantidade</dt>
            <dd class="col-sm-9">{{ inflow.quantity }}</dd>
        </dl>
    </div>
</div>
{% endblock %}
