{% extends "base.html" %}
{% block title %}Entradas{% endblock %}
{% block content %}
<br>
    <div class="row">
        {% include 'components/_messages.html' %}

        <div class="col-md-6">
            <form method="get">
                <div class="input-group mb-3">
                    <input type="text" name="search" class="form-control" placeholder="Buscar por produto">
                    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div><br>

    <table class="table table-auto table-striped-columns">
        <thead class="table-dark">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Criação do Registro
                </th>
                <th>
                    Produto
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
    {% for inflow in inflows %}
        <tr>
            <td>
                {{inflow.id}}
            </td>
            <td>
                {{inflow.created_at}}
            </td>
            <td>
                {{inflow.product}}
            </td>
            <td>
                {{inflow.product.brand}}
            </td>
            <td>
                {{inflow.quantity}}
            </td>
            <td>
                <a href="{% url 'inflow_detail' inflow.pk %}">
                    <button type="button" class="btn btn-primary"><i class="bi bi-eye-fill"></i></button>
                </a>
            </td>
        </tr>

    {% endfor %}
        </tbody>
    </table>

    {% include 'components/_pagination.html' %}

{% endblock %}